<form action="/addmessage" method="post">
    <div class="formfields">
        Your name:<br />
        <input type="text" name="name" id="name" /><br />
        Your Message:<br />
        <textarea rows="5" cols="30" name="message" id="message"></textarea><br />
        <input type="Submit" name="Submit" text="Submit" />
    </div>
</form>